{% load static %}
<html>
    <html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link rel="stylesheet" href="{% static 'app/css/estilo.css' %}">
</head>

<body>
    <h1>Bienvenido Administrador</h1>

    <p class="InformacionUsuario">
        Andres Felipe Melo Suarez
        <br> id:100
        <br> Administrador@gmail.com
    </p>
    <a href="{% url 'app:index' %}">
        <input class="cerrarsesion" type="submit" value="Cerrar Sesión">
    </a>
    <img src="{% static 'app/img/profilephoto.png' %}" alt="profilephoto" width="180">
    
    
    <br>
    <br>
    <a href="verListaEstudiantes.html" target="_blank">
        <input class="Boton" type="submit" value="Ver estudiantes">
    </a>
    <br>
    <br>
    <a href="verGruposComoAdmin.html" target="_blank">
        <input class="Boton" type="submit" value="Ver grupos">
    </a>
    <br>
    <br>
    <a href="verProfesores.html" target="_blank">
        <input class="Boton" type="submit" value="Ver profesores">
    </a>
    <br>
    <br>
    <a href="crearGrupoAdmin.html" target="_blank">
        <input class="Boton" type="submit" value="Crear grupo">
    </a>
    <br>
    <br>
    <a href="crearProfesor.html" target="_blank">
        <input class="Boton" type="submit" value="Crear profesor">
    </a>
    <br>
    <br>
    <a href="crearEstudiante.html" target="_blank">
        <input class="Boton" type="submit" value="Crear alumno">
    </a>
    <div class="logoxd">
        <img src="{% static 'app/img/logo-social.png' %}" alt="logo-social"></div>

   
</body>

</html>