{% load static %}
<html>

<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Proyecto Cloud</title>
    <link rel="stylesheet" href="{% static 'app/css/estilo.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/estiloGrupoEstudiante.css' %}">
</head>

<body>

    <h1>Bienvenido Estudiante</h1>
    <hr>
    <img src="{% static 'app/img/profilephoto.png' %}" alt="profilephoto" width="180">
    <p class="InformacionUsuario">
        German Esteban Pardo Ramirez <br> id:300 <br> estudiante@gmail.com
    </p>
    <a href="{% url 'app:index' %}">
        <input class="cerrarsesion" type="submit" value="Cerrar Sesión">
    </a>
    <br>
    <br>

    <div class="tabla">
        <table id="tablagrupos" border="1">
            <tr>
                <th>Id grupo</th>
                <th>Asignatura</th>
                <th>Semestre</th>
            </tr>
            <tr>
                <td><a href="verGrupoEstudiante.html">3-1agricultura</a></td>
                <td>Agricultura </td>
                <td>III</td>
            </tr>
            <tr>
                <td><a href="verGrupoEstudiante.html">2-1sistemas</a></td>
                <td>Sistemas
                </td>
                <td>II</td>
            </tr>
            <tr>
                <td><a href="verGrupoEstudiante.html">1-1filosofia</a></td>
                <td>Filosofía</td>
                <td>I</td>
            </tr>

        </table>

    </div>
    <br>

    <div class="logoes">
        <img src="{% static 'app/img/logo-social.png' %}" alt="logo-social">
    </div>

    <!-- <a href="https://guitarflash.com/?gfMP=1" target="_blank">
        <input class="Boton" type="submit" value="Ver grupo">
    </a> -->

    <!-- <br>
    <br>
    <br>
    <br>
    <br> <br> <br>
    <div id="BuscarGrupo">
        <label for="" class="Idgrupo">Id del grupo</label>
        <input type="text">
        <label for="" class="Idgrupo">Id del Estudiante</label>
        <input type="text">
    </div> -->


</body>

</html>