{% load static %}
<html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Profesor</title>
    <link rel="stylesheet" href="{% static 'app/css/estilo.css' %}">
</head>

<body>
    <h1>Bienvenido Profesor</h1>
    <hr>
    <p class="InformacionUsuario">
        Sergio Alejandro Suarez Guzman
        <br> id:200
        <br> profesor@gmail.com

    </p>
    <a href="{% url 'app:index' %}">
        <input class="cerrarsesion" type="submit" value="Cerrar Sesión">
    </a>
    <img src="{% static 'app/img/profilephoto.png' %}" alt="profilephoto" width="180">
    <br>
    <br>
    <a href="crearAcividadProfesor.html" target="_blank">
        <input class="Boton" type="submit" value="Crear actividad">
    </a>
    <br>
    <br>
    <br>
    
    <br>
    <a href="verActividadProfesor.html" target="_blank">
        <input class="Boton" type="submit" value="Buscar">
    </a>
    <br>
    <br>

    <table class="tablaprofe" border="1">
        <tr>
            <th>Id grupo</th>
            <th>Asignatura</th>
            <th>Semestre</th>
        </tr>
        <tr>
            <td><a href="verGrupoProfesor.html">3-1agricultura</a></td>
            <td>Agricultura </td>
            <td>III</td>
        </tr>
        <tr>
            <td><a href="verGrupoProfesor.html">2-1sistemas</a></td>
            <td>Sistemas
            </td>
            <td>II</td>
        </tr>
        <tr>
            <td><a href="verGrupoProfesor.html">1-1filosofia</a></td>
            <td>Filosofía</td>
            <td>I</td>
        </tr>

    </table>
    <img class="ustaprofe" src="{% static 'app/img/LOGO_USTA_AZUL.png' %}" alt="Logo usta">
</body>

</html>