html {
    background-color: #07091f;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1 {
    left: 100px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
input {
    position: absolute;
    width: 158px;
    height: 36px;
}

.olakase{

    position: absolute;
    color: aliceblue;
    font-size: 20px;
    left: 300px;
    top: 100px;
    width: 296px;
}
.cerrar{
    background-color: #b31111;
    border: 4px solid #000000;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: double;
    font-size: larger;
    display: inline;
    font-size: 20px;
    top: 240px;
    left: 600px;
    cursor: pointer;
}
.logousta{
    position: absolute;
    top: 120px;
    left: 900px;
}

.enviarEstudiante{
    background-color: #b31111;
    border: 4px solid #000000;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: double;
    font-size: larger;
    display: inline;
    font-size: 20px;
    top: 500px;
    left: 300px;
    cursor: pointer;
}

#lblnombre{
    color: white;

}

#lblcodigo{
    color: white;
    text-align: center;
}
#lblapellidos{
    color: white;
}
#lblemail{
    color: white;
}
#lblcarrera{
    color: white;
}

.inombre{
    width: 400px;
    border-style: dotted;
}
.inapellido{
    width: 400px;
    border-style: dotted;
}
.incodigo{
    width: 400px;
    border-style: dotted;
}
.inemail{
    width: 400px;
    border-style: dotted;
}
.incontraseña{
    width: 400px;
    border-style: dotted;
}

/* CREACION DE GRUPO Admin*/

.admincreargrupo{

    position: absolute;
    color: aliceblue;
    font-size: 20px;
    left: 300px;
    top: 100px;
    width: 296px;
}
.cerrargrupo{
    background-color: #b31111;
    border: 4px solid #000000;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: double;
    font-size: larger;
    display: inline;
    font-size: 20px;
    top: 240px;
    left: 600px;
    cursor: pointer;
}
.logoustagrupo{
    position: absolute;
    top: 120px;
    left: 900px;
}

.enviarGrupo{
    background-color: #b31111;
    border: 4px solid #000000;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: double;
    font-size: larger;
    display: inline;
    font-size: 20px;
    top: 500px;
    left: 300px;
    cursor: pointer;
}


#lblcodigogrupo{
    color: white;
}

#lblasignatura{
    color: white;
}
#lblsemestre{
    color: white;
}
#lblprofesor{
    color: white;
}

.incodigogrupo{
    width: 300px;
    border-style: dotted;
}
.inasignatura{
    width: 350px;
    border-style: dotted;
}
.insemestre{
    width: 410px;
    border-style: dotted;
}
.inprofesor{
width: 430px;
border-style: dotted;
}
.incantidad{
width: 420px;
border-style: dotted;
}
