html {
    background-color: #07091f;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.cerrarsesion {
    background-color: #b31111;
    border: 4px solid #000000;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: double;
    font-size: larger;
    display: inline;
    font-size: 20px;
    top: 100px;
    left: 900px;
    cursor: pointer;
}
.contenedor{
   
    color: white;
    display: grid;
    grid-template: 0.1fr 1fr auto  / auto ;
}
.title{
    
}
.Datos{
    width: 60%;
    height: 20vh;
    display: grid;
    grid-template: auto / 0.1fr auto 0.3fr;
    /* justify-items: center;
    align-items: center;*/
} 
.FotoPerfil{
    width: 100px;
    padding: 3px;
    float: left;
    grid-row: 1/2;
    grid-column: 1/2;
    display: grid;
    justify-items: left;
    align-items: left;
}
.nombres{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    grid-row: 1/2;
    grid-column: 2/3;
    display: grid;
    justify-items: center;
    align-items: center;
}

.creacion{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    display: grid;
    align-items: center;
    justify-content: center;
}

.cabezaestudiantes{
    background-color: #6b0404;
    border-bottom: solid 5px #0f362d;
}
tr:nth-child(even){
    background-color: black;
}
.cabezaprofe{
    background-color: #6b0404;
    border-bottom: solid 5px #0f362d;
}
 td,th{
     padding: 20px;
 }

