html {
    background-color: #07091f;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.autenticacion {
    text-align: left;
    color: white;
}

.usta {
    position: absolute;
    right: 700px;
    top: 100px;
    width: 300px;
}


.InformacionUsuario {
    position: absolute;
    color: aliceblue;
    font-size: 20px;
    left: 300px;
    top: 71px;
    width: 296px;
}

.cerrarsesion {
    background-color: #b31111;
    border: 4px solid #000000;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: double;
    font-size: larger;
    display: inline;
    font-size: 20px;
    left: 900;
    cursor: pointer;
}
.cerrarsesion2 {
    background-color: #b31111;
    border: 4px solid #000000;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: double;
    font-size: larger;
    display: inline;
    font-size: 20px;
    top: 200px;
    left: 900px;
    cursor: pointer;
}
.Boton {
    background-color: #a5af1a;
    border: 4px solid #000000;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: double;
    font-size: larger;
    display: inline;
    font-size: 20px;
    cursor: pointer;
}

h5 {
    color: white;
}

h1 {
    left: 100px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input {
    position: absolute;
    width: 158px;
    height: 36px;
}

.ingresonotas {
    position: inherit;
}

.tablaprofe {
    position: absolute;
    left: 400px;
    top: 250px;
    color: white;
    
    
}
.cabeza{
    background-color: #6b0404;
    border-bottom: solid 5px #0f362d;
}
tr:nth-child(even){
    background-color: black;
}

#tabla .tablaestudiante {
    position: absolute;
    left: 200px;
    top: 250px;
    
    color: white;
}

#BuscarGrupo .Idgrupo {
    padding: 10px;
    color: white;
}


/* LO SIGUIENTE ES PARA VER GRUPO ESTUDIANTE */

#DescripcionActividad {
    color: white;
}
.logoxd{
    position: absolute;
    top: 400px;
    left: 500px;
}
.tabla{
    position: absolute;
    top: 200px;
    left: 400px;

}
td,th{
    padding: 20px;
}
.logoes{
    position: absolute;
    left: 500px;
    top: 400px;
}
.ustaprofe{
    position: absolute;
    left: 1000px;
    top: 200px;
    width: 300px;
}
