
.Datos{
    width: 60%;
    height: 20vh;
    display: grid;
    grid-template: auto / 0.1fr auto 0.3fr;
    /* justify-items: center;
    align-items: center;*/
} 
.FotoPerfil{
    width: 100px;
    padding: 3px;
    float: left;
    grid-row: 1/2;
    grid-column: 1/2;
    display: grid;
    justify-items: left;
    align-items: left;
}
.nombres{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    grid-row: 1/2;
    grid-column: 2/3;
    display: grid;
    justify-items: center;
    align-items: center;
}
.tabla{
    width: 50vw;
    display: grid;
    align-items: center;
    justify-content: center;
}
#tablagrupos{
    color: white;
}